In [119]:
# Requisite imports
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing

# The Datasets

The first dataset was obtained from NYC's Community Health Survey (CHS): https://www1.nyc.gov/site/doh/data/data-publications/profiles.page


> Metadata for this table can be found here: https://www.dropbox.com/s/8upe14gyxrtcja5/2015_CHP_PUD.xlsx?dl=0
Some headings are out of order in the metadata. 


The second dataset was taken from NYC's Environmental & Health Data Portal which aggregates data from many sources. For more info see: http://a816-dohbesp.nyc.gov/IndicatorPublic/BuildATable.aspx

In [55]:
raw_CHS_data = pd.read_csv('https://www.dropbox.com/s/thl1b27lxqvtpwo/2015_CHPdata.csv?raw=1',
                           index_col=0)

raw_EPHT_data = pd.read_csv('https://www.dropbox.com/s/gr9zh288m73dsvo/AllEPHTData.csv?raw=1',
                            index_col=False, header=None)

## Initial Processing

First, I take a look at how the dataframes are organized so I can eventually merge them.

In [56]:
print('Size of CHS Data: {}\nSize of EPHT Data:{}'.format(raw_CHS_data.shape,
                                                         raw_EPHT_data.shape))

Size of CHS Data: (65, 191)
Size of EPHT Data:(65500, 12)

In [57]:
original_CHS_columns = raw_CHS_data.columns.values.tolist()

print('Feature Names:\n', original_CHS_columns)

raw_CHS_data.head(8)

Feature Names:
 ['Name', 'OverallPopulation_rate', 'OverallPopulation_rank', 'Racewhite_Rate', 'Racewhite_rank', 'Raceblack_rate', 'Raceblack_rank', 'Raceasian_rate', 'Raceasian_rank', 'Racehispanic_rate', 'Racehispanic_rank', 'Raceother_rate', 'Raceother_rank', 'Nonwhite_rate', 'Nonwhite_rank', 'Age0to17_rate', 'Age0to17_rank', 'Age18to24_rate', 'Age18to24_rank', 'Age25to44_rate', 'Age25to44_rank', 'Age45to64_rate', 'Age45to64_rank', 'Age65plus_rate', 'Age65plus_rank', 'Foreign_born', 'Foreign_born_rank', 'lower_95CL', 'upper_95CL', 'Ltd_Eng_Prof', 'Ltd_eng_prof_rank', 'lower_95CL.1', 'upper_95CL.1', 'Housing_Defects', 'Housing_Defects_rank', 'lower_95CL.2', 'upper_95CL.2', 'Airquality_rate', 'Airquality_rank', 'Tobaccoretail_rate', 'Tobaccoretail_rank', 'Supermarketarea_rate', 'Supermarketarea_rank', 'Edudidnotcompletehs_rate', 'Edudidnotcompletehs_rank', 'Eduhsdegreeorsomecollege_rate', 'Eduhsdegreeorsomecollege_rank', 'Educollegedegreeandhigher_rate', 'Educollegedegreeandhigher_rank', 'Poverty', 'Poverty_rank', 'lower_95CL.3', 'upper_95CL.3', 'Unemployment', 'Unemployment_rank', 'lower_95CL.4', 'upper_95CL.4', 'Rent_burden', 'Rent_burden_rank', 'lower_95CL.5', 'upper_95CL.5', 'Avertabledeaths_rate', 'Avertabledeaths_rank', 'Preterm_Births', 'Preterm_birth_rank', 'lower_95CL.6', 'upper_95CL.6', 'Teen_Births', 'reliability note', 'Teen_births_rank', 'lower_95CL.7', 'upper_95CL.7', 'Schoolabsent_rate', 'Schoolabsent_rank', 'Jailincarceration', 'reliability note.1', 'Jailincarceration_rank', 'lower_95CL.8', 'upper_95CL.8', 'Assault_Hosps', 'Assault_hosps_rank', 'lower_95CL.9', 'upper_95CL.9', 'Self_rep_health', 'reliability note.2', 'Self_rep_health_rank', 'lower_95CL.10', 'upper_95CL.10', 'Smoking', 'reliability note.3', 'Smoking_rank', 'lower_95CL.11', 'upper_95CL.11', 'Sugary_Drink', 'reliability note.4', 'Sugary_drink_rank', 'lower_95CL.12', 'upper_95CL.12', 'Fruit_Veg', 'reliability note.5', 'Fruitveg_rank', 'lower_95CL.13', 'upper_95CL.13', 'Exercise', 'reliability note.6', 'Exercise_rank', 'lower_95CL.14', 'upper_95CL.14', 'Obesity', 'reliability note.7', 'Obesity_rank', 'lower_95CL.15', 'upper_95CL.15', 'Diabetes', 'reliability note.8', 'Diabetes_rank', 'lower_95CL.16', 'upper_95CL.16', 'Alc_Hosp', 'Alc_hosp_rank', 'lower_95CL.17', 'upper_95CL.17', 'Drug_Hosp', 'Drug_hosp_rank', 'lower_95CL.18', 'upper_95CL.18', 'Insurance', 'reliability note.9', 'Insurance_rank', 'lower_95CL.19', 'upper_95CL.19', 'Didnt_Get_Care', 'reliability note.10', 'Didnt_get_care_rank', 'lower_95CL.20', 'upper_95CL.20', 'Late_No_Prenatal', 'Late_no_prenatal_rank', 'lower_95CL.21', 'upper_95CL.21', 'HPV_vaccination', 'Hpv_vaccination_rank', 'lower_95CL.22', 'upper_95CL.22', 'Flu_Vaccination', 'reliability note.11', 'Flu_vaccination_rank', 'lower_95CL.23', 'upper_95CL.23', 'HIV_Testing_Ever', 'reliability note.12', 'Hiv_testing_ever_rank', 'lower_95CL.24', 'upper_95CL.24', 'HIV_Diagnosis', 'reliability note.13', 'HIV_diagnosis_rank', 'lower_95CL.25', 'upper_95CL.25', 'Stroke_Hosp', 'Stroke_hosp_rank', 'lower_95CL.26', 'upper_95CL.26', 'Psych_Hosp', 'Psych_hosp_rank', 'lower_95CL.27', 'upper_95CL.27', 'Asthma_5to14', 'reliability note.14', 'Asthma_5to14_rank', 'lower_95CL.28', 'upper_95CL.28', 'Avoidable_Asthma', 'Avoidable_asthma_rank', 'lower_95CL.29', 'upper_95CL.29', 'Avoidable_Diabetes', 'Avoidable_diabetes_rank', 'lower_95CL.30', 'upper_95CL.30', 'IMR', 'reliability note.15', 'Imr_rank', 'lower_95CL.31', 'upper_95CL.31', 'Premature_Mort', 'Premature_mort_rank', 'lower_95CL.32', 'upper_95CL.32', 'Life_expectancy_rate', 'Life_expectancy_rank']

,Name,OverallPopulation_rate,OverallPopulation_rank,Racewhite_Rate,Racewhite_rank,Raceblack_rate,Raceblack_rank,Raceasian_rate,Raceasian_rank,Racehispanic_rate,...,reliability note.15,Imr_rank,lower_95CL.31,upper_95CL.31,Premature_Mort,Premature_mort_rank,lower_95CL.32,upper_95CL.32,Life_expectancy_rate,Life_expectancy_rank
ID,,,,,,,,,,,,,,,,,,,,,
0,NYC,8405837,NaN,33,NaN,23,NaN,14,NaN,29,...,NaN,NaN,4.5,4.9,198.4,NaN,196.8,200.0,NaN,NaN
1,Manhattan,1626159,NaN,48,NaN,13,NaN,12,NaN,26,...,NaN,NaN,2.9,3.9,152.7,NaN,150.0,155.4,NaN,NaN
2,Bronx,1418733,NaN,11,NaN,30,NaN,4,NaN,55,...,NaN,NaN,5.1,6.3,238.9,NaN,235.2,242.6,NaN,NaN
3,Brooklyn,2592149,NaN,36,NaN,31,NaN,11,NaN,20,...,NaN,NaN,3.6,4.2,194.5,NaN,191.8,197.2,NaN,NaN
4,Queens,2296175,NaN,27,NaN,18,NaN,25,NaN,28,...,NaN,NaN,4.2,5.2,140.8,NaN,138.6,143.0,NaN,NaN
5,Staten Island,472621,NaN,63,NaN,10,NaN,8,NaN,18,...,NaN,NaN,3.6,5.8,184.7,NaN,179.3,190.1,NaN,NaN
101,Financial District,62829,57.0,66,9.0,4,44.0,20,13.0,8,...,*,58.0,0.2,2.8,75.6,59.0,64.3,86.9,85.4,1.0
102,Greenwich Village and Soho,91961,53.0,75,3.0,2,55.0,14,21.0,6,...,*,55.0,0.2,3.8,93.3,57.0,84.0,102.6,84.3,4.0

In [58]:
raw_EPHT_data.head(8)

,0,1,2,3,4,5,6,7,8,9,10,11
0,76966,462,Access to Alcohol,Number of Retail Outlets,Borough,1,Bronx,2009,1760,NaN,NaN,NaN
1,77014,464,Access to Alcohol,Number of Service Outlets,Borough,1,Bronx,2009,931,NaN,NaN,NaN
2,77062,463,Access to Alcohol,Retail Outlet Density,Borough,1,Bronx,2009,127,NaN,NaN,NaN
3,77110,465,Access to Alcohol,Service Outlet Density,Borough,1,Bronx,2009,67,NaN,NaN,NaN
4,76967,462,Access to Alcohol,Number of Retail Outlets,Borough,2,Brooklyn,2009,3206,NaN,NaN,NaN
5,77015,464,Access to Alcohol,Number of Service Outlets,Borough,2,Brooklyn,2009,2169,NaN,NaN,NaN
6,77063,463,Access to Alcohol,Retail Outlet Density,Borough,2,Brooklyn,2009,125,NaN,NaN,NaN
7,77111,465,Access to Alcohol,Service Outlet Density,Borough,2,Brooklyn,2009,85,NaN,NaN,NaN

### Organization Insights

The first five rows in the CHS dataframe are borough summaries, but I am interested in Small Area Analysis. As a result I will omit these summaries. The remaining data of the Community Health Survey divides each borough into several Community Districts (CDs). 

Because the Environmental & Health Data Portal takes data from many sources, the aspects are organized in many different ways. As a result, each row represents a single statistic--with the columns enumerating the details regarding what was being measured and the corresponding location. This will be dealth with later.
For a first pass, I will take only those attributes organized by CD to ensure consistency when merging the datasets.

In [103]:
CD_EPHT_data = raw_EPHT_data[raw_EPHT_data.iloc[:,4]=='CD']

CD_CHS_data = raw_CHS_data.iloc[6:,:]

print('Environmental & Health Data:\n{}\n\n\nCommunity Health Survey Data:\n{}'.format(
    CD_EPHT_data.head(), CD_CHS_data.head()))

Environmental & Health Data:
           0    1                      2                3   4    5   \
50310  119438  373  Elemental Carbon (EC)  10th Percentile  CD  101
50311  119497  374  Elemental Carbon (EC)  90th Percentile  CD  101
50312  119379  370  Elemental Carbon (EC)             Mean  CD  101
50313  119439  373  Elemental Carbon (EC)  10th Percentile  CD  102
50314  119498  374  Elemental Carbon (EC)  90th Percentile  CD  102

                      6         7                         8    9   10  11
50310  Battery Park City   Tribeca  Annual Average 2009-2010  1.3 NaN NaN
50311  Battery Park City   Tribeca  Annual Average 2009-2010  1.8 NaN NaN
50312  Battery Park City   Tribeca  Annual Average 2009-2010  1.5 NaN NaN
50313  Greenwich Village      SOHO  Annual Average 2009-2010  1.5 NaN NaN
50314  Greenwich Village      SOHO  Annual Average 2009-2010    2 NaN NaN


Community Health Survey Data:
                              Name  OverallPopulation_rate  \
ID
101             Financial District                   62829
102     Greenwich Village and Soho                   91961
103  Lower East Side and Chinatown                  168298
104            Clinton and Chelsea                  106128
105                        Midtown                   52607

     OverallPopulation_rank  Racewhite_Rate  Racewhite_rank  Raceblack_rate  \
ID
101                    57.0              66             9.0               4
102                    53.0              75             3.0               2
103                    19.0              31            28.0               7
104                    47.0              60            14.0               6
105                    59.0              68             7.0               4

     Raceblack_rank  Raceasian_rate  Raceasian_rank  Racehispanic_rate  \
ID
101            44.0              20            13.0                  8
102            55.0              14            21.0                  6
103            38.0              34             4.0                 25
104            39.0              14            22.0                 18
105            43.0              18            15.0                  8

             ...           reliability note.15  Imr_rank  lower_95CL.31  \
ID           ...
101          ...                             *      58.0            0.2
102          ...                             *      55.0            0.2
103          ...                           NaN      50.0            1.1
104          ...                           NaN      24.0            2.3
105          ...                             *      29.0            1.4

     upper_95CL.31  Premature_Mort  Premature_mort_rank  lower_95CL.32  \
ID
101            2.8            75.6                 59.0           64.3
102            3.8            93.3                 57.0           84.0
103            3.7           183.0                 27.0          173.3
104            7.5           140.5                 43.0          129.8
105            7.6           145.4                 39.0          129.2

     upper_95CL.32  Life_expectancy_rate  Life_expectancy_rank
ID
101           86.9                  85.4                   1.0
102          102.6                  84.3                   4.0
103          192.7                  80.9                  30.0
104          151.2                  82.0                  22.0
105          161.6                  82.9                  15.0

[5 rows x 191 columns]

### Inspecting NaN Values

In [104]:
# Because the CHS table has so many features, I will print out only those columns
# which contain NaNs. I will print out the result of all columns for the EPHT data.
CHS_NaN_columns = []

for column in original_CHS_columns:
    if CD_CHS_data.loc[:, column].isna().any():
        CHS_NaN_columns.append(column)

print('Columns in CHS data with NaN values:\n', CHS_NaN_columns)


print('\nColumns in Environment & Health data with any NaN values:\n',
      CD_EPHT_data.isna().any())

Columns in CHS data with NaN values:
 ['Avertabledeaths_rate', 'reliability note', 'reliability note.1', 'reliability note.2', 'reliability note.3', 'reliability note.4', 'reliability note.5', 'reliability note.6', 'reliability note.7', 'reliability note.8', 'reliability note.9', 'reliability note.10', 'reliability note.11', 'reliability note.12', 'reliability note.13', 'reliability note.14', 'reliability note.15']

Columns in Environment & Health data with any NaN values:
 0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10     True
11     True
dtype: bool

#### Dealing with NaNs in CHS Data

For ease of data analysis, reliability notes of CHS data will be discarded.

In [105]:
CHS_data_to_merge = CD_CHS_data.drop(columns=CHS_NaN_columns[1:])

print('Number of NaNs in Avertabledeaths_rate:', 
      CHS_data_to_merge.Avertabledeaths_rate.isna().sum())

Number of NaNs in Avertabledeaths_rate: 5

In [106]:
# In the CHS data, each rate is followed by a rank. I investigate here to see what
# those values are for the NaN Avertabledeaths_rate
CHS_data_to_merge[CHS_data_to_merge.Avertabledeaths_rate.isna()].Avertabledeaths_rank

ID
101    -
102    -
106    -
107    -
108    -
Name: Avertabledeaths_rank, dtype: object

This gives us no additional information, so I will leave these for now.

#### Dealing with NaNs in the EPHT Data

I saw that the last three columns in the dataframe all contain NaNs. Upon further inspection of the source, any one of columns 8-11 of the EPHT dataset contains the actual relevant numerical data for any single row.

Columns 2 and 3 together describe the statistic measured, along with the column immediately preceding that with the actual numerical data.
Column 4 was used to describe the area level of analysis (e.g."Borough" or "CD" for Community District). In the dataset to merge, we only kept those with the label "CD", so this column is unnecessary.
Column 5 contains the CD index needed to match to the CHS data.
Following column 5, anywhere from 1 to 4 columns are used to enumerate the neighborhoods encompassed by the CD.

In [107]:
def get_values(row):
    '''
    This function determines the position of the numerical datum in a 
    specified row. It then assigns that value to the variable name `stat`.
    The position preceding the number is joined with positions 2 and 3 of 
    the row to create the `name` for the statistic.
    '''
    
    if str(row[8]).replace('.', '').isnumeric():
        stat = float(row[8])
        name = ' '.join([row[2], row[3], row[7]])
    
    elif str(row[9]).replace('.', '').isnumeric():
        stat = float(row[9])
        name = ' '.join([row[2], row[3], row[8]])
    
    elif str(row[10]).replace('.', '').isnumeric():
        stat = float(row[10])
        name = ' '.join([row[2], row[3], row[9]])
    
    else:
        stat = float(row[11])
        name = ' '.join([row[2], row[3], row[10]])

    return (name, stat)

In [108]:
CD_EPHT_data[['label', 'stat']] = CD_EPHT_data.apply(
    lambda row: pd.Series(get_values(row)), axis=1)

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

### Using a Pivot Table to Transform the EPHT Data

In [110]:
EPHT_data_to_merge = CD_EPHT_data.pivot_table(index=5, columns='label', 
                                              values='stat')

### Merging the Tables

In [112]:
NYC_data = CHS_data_to_merge.merge(EPHT_data_to_merge, how='outer', 
                                   left_index=True, right_index=True)

In [163]:
to_standardize = NYC_data.drop(list(NYC_data.filter(regex='rank|CL|Percentile')),
                               axis=1)

print(to_standardize.shape)

(59, 61)

In [164]:
data_standardized = to_standardize.copy()

for column in to_standardize.columns[1:]:
    data_standardized[column] = to_standardize[column].apply(lambda x: (
        x - to_standardize[column].mean()) / to_standardize[column].std())

In [165]:
no_HSdegree_corr = data_standardized.corr()['Edudidnotcompletehs_rate'].sort_values(ascending=False)
HSdegree_somecollege_corr = data_standardized.corr()['Eduhsdegreeorsomecollege_rate'].sort_values(ascending=False)
collegedegree_plus_corr = data_standardized.corr()['Educollegedegreeandhigher_rate'].sort_values(ascending=False)

In [166]:
no_HSdegree_corr

Edudidnotcompletehs_rate                                         1.000000
Teen_Births                                                      0.873792
Poverty                                                          0.839136
Racehispanic_rate                                                0.826898
Nonwhite_rate                                                    0.758332
Rent_burden                                                      0.755929
Sugary_Drink                                                     0.748830
Insurance                                                        0.733628
Unemployment                                                     0.732155
Avoidable_Asthma                                                 0.729286
Age0to17_rate                                                    0.703223
Diabetes                                                         0.693400
Avoidable_Diabetes                                               0.688222
Assault_Hosps                                                    0.652134
Ltd_Eng_Prof                                                     0.643709
Asthma_5to14                                                     0.639291
Alc_Hosp                                                         0.618224
Jailincarceration                                                0.587772
Schoolabsent_rate                                                0.586211
Late_No_Prenatal                                                 0.585838
Stroke_Hosp                                                      0.585432
Premature_Mort                                                   0.582896
Housing_Defects                                                  0.575648
Obesity                                                          0.575081
Age18to24_rate                                                   0.566822
HPV_vaccination                                                  0.550783
Didnt_Get_Care                                                   0.549687
Drug_Hosp                                                        0.546665
HIV_Testing_Ever                                                 0.437794
Eduhsdegreeorsomecollege_rate                                    0.428784
IMR                                                              0.425397
Avertabledeaths_rate                                             0.418135
Psych_Hosp                                                       0.308441
Foreign_born                                                     0.294569
Preterm_Births                                                   0.266872
Flu_Vaccination                                                  0.211519
Raceblack_rate                                                   0.172569
Smoking                                                          0.171969
HIV_Diagnosis                                                    0.171698
Elemental Carbon (EC) Mean Winter 2008-09                        0.155636
Elemental Carbon (EC) Mean Annual Average 2009-2010              0.022000
Elemental Carbon (EC) Mean Summer 2009                           0.019509
Fine Particulate Matter (PM2.5) Mean Winter 2008-09             -0.010383
Tobaccoretail_rate                                              -0.079638
OverallPopulation_rate                                          -0.092287
Fine Particulate Matter (PM2.5) Mean Annual Average 2009-2010   -0.093738
Raceasian_rate                                                  -0.164686
Fine Particulate Matter (PM2.5) Mean Summer 2009                -0.208838
Airquality_rate                                                 -0.218240
Supermarketarea_rate                                            -0.308403
Age45to64_rate                                                  -0.335770
Raceother_rate                                                  -0.347735
Age25to44_rate                                                  -0.385608
Age65plus_rate                                                  -0.544421
Life_expectancy_rate                                            -0.545095
Fruit_Veg                                                       -0.645837
Exercise                                                        -0.686859
Racewhite_Rate                                                  -0.758332
Self_rep_health                                                 -0.818092
Educollegedegreeandhigher_rate                                  -0.836838
Name: Edudidnotcompletehs_rate, dtype: float64

In [167]:
collegedegree_plus_corr

Educollegedegreeandhigher_rate                                   1.000000
Racewhite_Rate                                                   0.769933
Exercise                                                         0.752994
Fruit_Veg                                                        0.725069
Age25to44_rate                                                   0.724142
Self_rep_health                                                  0.701858
Life_expectancy_rate                                             0.614890
Airquality_rate                                                  0.552788
Fine Particulate Matter (PM2.5) Mean Summer 2009                 0.542127
Fine Particulate Matter (PM2.5) Mean Annual Average 2009-2010    0.442375
Age65plus_rate                                                   0.377024
Fine Particulate Matter (PM2.5) Mean Winter 2008-09              0.363847
Elemental Carbon (EC) Mean Annual Average 2009-2010              0.356789
Elemental Carbon (EC) Mean Summer 2009                           0.348120
Raceother_rate                                                   0.313983
Supermarketarea_rate                                             0.247120
Raceasian_rate                                                   0.246923
Tobaccoretail_rate                                               0.242778
Elemental Carbon (EC) Mean Winter 2008-09                        0.186468
Flu_Vaccination                                                  0.040557
Age45to64_rate                                                   0.002829
HIV_Diagnosis                                                   -0.052477
OverallPopulation_rate                                          -0.052996
HPV_vaccination                                                 -0.144899
Smoking                                                         -0.222273
HIV_Testing_Ever                                                -0.321536
Foreign_born                                                    -0.329704
Psych_Hosp                                                      -0.336765
Raceblack_rate                                                  -0.415392
Housing_Defects                                                 -0.435735
Drug_Hosp                                                       -0.454291
Ltd_Eng_Prof                                                    -0.456515
Age18to24_rate                                                  -0.476086
Avertabledeaths_rate                                            -0.496316
Preterm_Births                                                  -0.498940
Didnt_Get_Care                                                  -0.499583
Alc_Hosp                                                        -0.504651
Jailincarceration                                               -0.528110
IMR                                                             -0.578527
Asthma_5to14                                                    -0.578876
Racehispanic_rate                                               -0.613521
Avoidable_Asthma                                                -0.628460
Premature_Mort                                                  -0.638448
Assault_Hosps                                                   -0.645495
Insurance                                                       -0.656546
Schoolabsent_rate                                               -0.664824
Poverty                                                         -0.682762
Avoidable_Diabetes                                              -0.683888
Stroke_Hosp                                                     -0.692901
Late_No_Prenatal                                                -0.707003
Unemployment                                                    -0.752032
Nonwhite_rate                                                   -0.769933
Teen_Births                                                     -0.795323
Obesity                                                         -0.819104
Rent_burden                                                     -0.833625
Edudidnotcompletehs_rate                                        -0.836838
Diabetes                                                        -0.839612
Eduhsdegreeorsomecollege_rate                                   -0.852952
Age0to17_rate                                                   -0.861730
Sugary_Drink                                                    -0.868428
Name: Educollegedegreeandhigher_rate, dtype: float64

In [168]:
HSdegree_somecollege_corr

Eduhsdegreeorsomecollege_rate                                    1.000000
Obesity                                                          0.802747
Age0to17_rate                                                    0.751949
Diabetes                                                         0.723469
Sugary_Drink                                                     0.717101
Rent_burden                                                      0.660815
Late_No_Prenatal                                                 0.608083
Stroke_Hosp                                                      0.586894
Preterm_Births                                                   0.565172
Nonwhite_rate                                                    0.550642
IMR                                                              0.543731
Unemployment                                                     0.543359
Schoolabsent_rate                                                0.531187
Raceblack_rate                                                   0.520188
Premature_Mort                                                   0.488174
Teen_Births                                                      0.477897
Avoidable_Diabetes                                               0.468611
Assault_Hosps                                                    0.436263
Edudidnotcompletehs_rate                                         0.428784
Insurance                                                        0.389201
Asthma_5to14                                                     0.342363
Avoidable_Asthma                                                 0.338538
Poverty                                                          0.322741
Avertabledeaths_rate                                             0.320837
Age45to64_rate                                                   0.319889
Didnt_Get_Care                                                   0.303573
Jailincarceration                                                0.302326
Foreign_born                                                     0.274035
Psych_Hosp                                                       0.251080
Age18to24_rate                                                   0.244169
Alc_Hosp                                                         0.235753
Racehispanic_rate                                                0.225377
Drug_Hosp                                                        0.219310
Smoking                                                          0.196365
OverallPopulation_rate                                           0.183809
Housing_Defects                                                  0.170087
Ltd_Eng_Prof                                                     0.143410
HIV_Testing_Ever                                                 0.111024
HIV_Diagnosis                                                   -0.081134
Age65plus_rate                                                  -0.106056
Supermarketarea_rate                                            -0.119686
Raceother_rate                                                  -0.180576
Raceasian_rate                                                  -0.245169
Flu_Vaccination                                                 -0.274050
HPV_vaccination                                                 -0.285011
Tobaccoretail_rate                                              -0.326752
Self_rep_health                                                 -0.381377
Elemental Carbon (EC) Mean Winter 2008-09                       -0.455864
Life_expectancy_rate                                            -0.484358
Racewhite_Rate                                                  -0.550642
Fruit_Veg                                                       -0.580680
Exercise                                                        -0.590532
Fine Particulate Matter (PM2.5) Mean Winter 2008-09             -0.590659
Elemental Carbon (EC) Mean Summer 2009                          -0.593402
Elemental Carbon (EC) Mean Annual Average 2009-2010             -0.611662
Fine Particulate Matter (PM2.5) Mean Annual Average 2009-2010   -0.641397
Fine Particulate Matter (PM2.5) Mean Summer 2009                -0.696718
Airquality_rate                                                 -0.705318
Age25to44_rate                                                  -0.827699
Educollegedegreeandhigher_rate                                  -0.852952
Name: Eduhsdegreeorsomecollege_rate, dtype: float64